// *************************************
//
// #SETTINGS - COLOR
//
// *************************************

// Color classes settings
// ---
// @type map
// ---
// @prop {map} color-classes.[name]
//   Name of the class to generate, excluding the prefix 
//   (c- for color, bg- for background)
// @prop {color} color-classes.[name].color
//   The color value to use in the generated class(es)
// @prop {bool} color-classes.[name].bg-class
//   generate a background-color helper class?
// @prop {bool} color-classes.[name].color-class
//   generate a color helper class?
// ---
// @group Settings
// @group Color
// ---
$s-color-classes: (
  color-classes: (
    brand: (
      color: color(brand),
      bg-class: true,
      color-class: true,
    ),
    brand--b: (
      color: color(brand--b),
      bg-class: false,
      color-class: false,
    ),
    brand--c: (
      color: color(brand--c),
      bg-class: false,
      color-class: false,
    ),
    brand--d: (
      color: color(brand--d),
      bg-class: true,
      color-class: false,
    ),
    brand--e: (
      color: color(brand--e),
      bg-class: false,
      color-class: false,
    ),
    trans: (
      color: transparent,
      bg-class: false,
      color-class: false,
    ),
    bg: (
      color: color(bg),
      bg-class: true,
      color-class: false,
    ),
    dark: (
      color: color(bg--invert),
      bg-class: false,
      color-class: false,
    ),
    mid-dark: (
      color: color(bg--d),
      bg-class: false,
      color-class: false,
    ),
    mid: (
      color: color(bg--a),
      bg-class: false,
      color-class: true,
    ),
    mid-pale: (
      color: color(bg--g),
      bg-class: false,
      color-class: false,
    ),
    pale: (
      color: color(bg--h),
      bg-class: false,
      color-class: false,
    ),
    pale--b: (
      color: color(bg--c),
      bg-class: true,
      color-class: false,
    ),
    secondary: (
      color: color(secondary),
      bg-class: false,
      color-class: true,
    ),
    disabled: (
      color: color(disabled),
      bg-class: false,
      color-class: true,
    ),
    pos: (
      color: color(positive),
      bg-class: false,
      color-class: false,
    ),
    neg: (
      color: color(negative),
      bg-class: false,
      color-class: false,
    ),
    sales: (
      color: color(sales),
      bg-class: false,
      color-class: false,
    ),
  ),
);

