// *************************************
//
// #SETTINGS - FORM
// -> Settings for forms and form elements
//
// *************************************

// form  settings
// ---
// @prop {list} select-font-stack
//   Font-stack to use in select elements (to fix a bug with webfonts in Chrome)
// @prop {color} input-props.focus
//   The border color of form elements on focus
// @prop {list} input-props.focus-shadow
//   Box-shadow values for focused inputs.
// @prop {string} input-props.padding
//   Named spacing unit for the inner padding of inputs
//   Can be one of [base | double | three-quarts | half | quarter]
// @prop {number} input-props.radius
//   The base border radius of inputs.
// @prop {list} input-props.border-style
//   The base border style (e.g. solid #f0f) of inputs
// @prop {number} input-props.width
//   The base border width of input elements.
// @prop {map | bool} input-props.placeholder
//   Generate styles according to 
//   nested keys, if not false.
// @prop {string} form-field-space.base
//   The named spacing unit to use as margin bottom on base form-field wrapper elements.
//   Can be one of [base | double | three-quarts | half | quarter]
// @prop {string} form-field-space.loose
//   The named spacing unit to use as margin loose on base form-field wrapper elements.
//   Can be one of [base | double | three-quarts | half | quarter]
// ---
// @type map
// ---
// @group Settings
// @group Forms
// ---
$s-form: (
  select-font-stack: ("Helvetica Neue", Helvetica, Arial, sans-serif),
  input-props: (
    focus: color(brand),
    focus-shadow: shadow(near),
    padding: quarter,
    radius: radius(base),
    border-style: solid color(ui),
    width: 1px,
    placeholder: (
      color: color(text--c),
      weight: 700,
    ),
  ),
  form-field-space: (
    base: half,
    loose: base,
  ),

  form-tight: false,
  form-flush: true,
  form-field-loose: flase,
  form-field-flush: true,
);
