// *************************************
//
//   #IMAGES
//   -> Base styles for images
//
// *************************************

// alt-text style.
img {
  @include t-micro;
  font-style: italic;
}
// Fluid media.
img, video {
	max-width: 100%;
  height: auto;
}



// Non-fluid images if you specify `width` and/or `height` attributes.
img[width],
img[height]{
  max-width:none;
}

img[width=""]{
	width: 100%;
}

// Images in `figure` elements.
figure > img{
  display:block;
}

picture {
  img{
    width:100%;
    display:block;
  }
}
