// *************************************
//
//   #IMAGES
//   -> Base styles for images
//
// *************************************

// alt-text style.
img {
  @include t-micro;
  font-style: italic;
}
// Fluid media.
img, video {
  max-width: 100%;
  height: auto;
}



// Non-fluid images if you specify `width` and/or `height` attributes.
img[width],
img[height] {
  max-width: none;
}

// Allow some images to scale up.
img[width=""],
img[data-srcset],
img[srcset] {
	width: 100%;
}

// Fix whitespace issues stemming from `img` being an inline element.
figure > img{
  display: block;
}

// 1. Allow images inside `picture` to scale up.
// 2. Fix whitespace issues stemming from `img` being an inline element.
picture img{
  width: 100%;
  display: block;
}
