// *************************************
//
// #SETTINGS - CARD
// -> Settings for cards
//
// *************************************

/// Card element settings
/// ---
/// type map
/// ---
/// @prop {color} card-bg
///   Sets the default background color of cards.
/// @prop {color} card-hr-color
///   Sets the default color of cards' section hr.
/// @prop {number} card-hr-height
///   Sets the default height of cards' section hr.
/// @prop {list | null} card-shadow
///   Sets the default box-shadow of cards if list.
///   Avoid generating box-shadow property if null.
/// @prop {list | null} card-shadow--hover
///   Sets the default box-shadow of hovered cards if list.
///   Avoid generating box-shadow property if null.
/// @prop {string} card-padding
///   Sets the default padding of cards. Must be a named spacing unit
/// @prop {map} card-sizes
///   Holds names and values of spacing modifiers to produce.
/// @prop {string} card-sizes.name
///   Strings to be used as suffixes in spacing modifiers.
/// @prop {string} card-sizes.value
///   The amount of padding to apply to a spacing modifier. 
/// Must be a named spacing unit
/// ---
$s-card: (
    card-bg: color(),
    card-container-bg: color(),
    card-hr-color: color(),
    card-hr-height: 1px,
    card-shadow: shadow(),
    card-shadow--hover: shadow(),
    card-padding: base,
    card-sizes: (
      // loose: double,
      // tight: three-quarts,
      // xtight: half,
      // xxtight: quarter,
      // flush: flush,
    )
) ;
