// *************************************
//
// #SETTINGS - TYPOGRAPHY
// -> Typographic settings
//
// *************************************

/// Typographic settings
/// ---
/// @type map
/// ---
/// @prop {bool} type.body-hack
///   Enables/disables a hack that overrides 
///   styles from the CM's WYSIWYG editor
///
/// @prop {bool} type.nano-style
///   Does `.t-nano` have a `font-family` associated with it?
/// @prop {bool} type.micro-style
///   Does `.t-micro` have a `font-family` associated with it?
/// @prop {bool} type.milli-style
///   Does `.t-milli` have a `font-family` associated with it?
/// @prop {number} headline-weight (700)
///   The font-weight of headline.
/// @prop {bool} type.headline-style
///   Do headlines have a `font-family` associated with them?
///
/// @prop {map} type.map
///   class-name for the `tag-name` map.
///
/// @prop {bool | list} type.micro-bps
///   A list of breakpoint for which
///   responsive modifiers of .t-micro 
///   will be generated for.
/// @prop {bool | list} type.milli-bps
///   A list of breakpoint for which
///   responsive modifiers of .t-milli 
///   will be generated for.
/// @prop {bool | list} type.zeta-bps
///   A list of breakpoint for which
///   responsive modifiers of .t-zeta 
///   will be generated for.
/// @prop {bool | list} type.epsilon-bps
///   A list of breakpoint for which
///   responsive modifiers of .t-epsilon 
///   will be generated for.
/// @prop {bool | list} type.delta-bps
///   A list of breakpoint for which
///   responsive modifiers of .t-delta 
///   will be generated for.
/// @prop {bool | list} type.gamma-bps
///   A list of breakpoint for which
///   responsive modifiers of .t-gamma 
///   will be generated for.
/// @prop {bool | list} type.beta-bps
///   A list of breakpoint for which
///   responsive modifiers of .t-beta 
///   will be generated for.
/// @prop {bool | list} type.alpha-bps
///   A list of breakpoint for which
///   responsive modifiers of .t-alpha 
///   will be generated for.
/// @prop {bool | list} type.kilo-bps
///   A list of breakpoint for which
///   responsive modifiers of .t-kilo 
///   will be generated for.
/// @prop {bool | list} type.mega-bps
///   A list of breakpoint for which
///   responsive modifiers of .t-mega 
///   will be generated for.
/// @prop {bool | list} type.giga-bps
///   A list of breakpoint for which
///   responsive modifiers of .t-giga 
///   will be generated for.
///
/// @prop {number} ellipsis.width
///   Width of the [...] block.
///
/// @prop {map} ellipsis.bp-name
///   Names of breakpoints for which to create
///   line-limited classes.
/// @prop {bool | list} ellipsis.bp-name.size-name
///   A list of unitless numbers, each representing
///   a hight in line numbers.
///   e.g
///   ```
///   ellipsis.s.milli: (3,5)
///   ```
///   Will cause the generation of :
///   `.t-milli--3lines` and `t-milli--5lines`
/// ---
/// @group Settings
/// ---
$s-typography: (
  type: (
    body-hack: true,
    nano-style: true,
    micro-style: true,
    milli-style: true,
    headline-weight: 700,
    headline-style: true,
    map: (
      // nano: nano,
      micro: micro,
      milli: milli,
      base: base, 
      zeta: h6,
      epsilon: h5,
      delta: h4,
      gamma: h3,
      beta: h2,
      alpha: h1,
      kilo: kilo,
      mega: mega,
      giga: giga,
    ),
    // a flat list to enable: l xl,
    nano-bps:     false,      // Used in:
    micro-bps:    false,      // Used in:
    milli-bps:    false,      // Used in:
    zeta-bps:     false,      // Used in:
    epsilon-bps:  false,      // Used in:
    delta-bps:    false,      // Used in:
    gamma-bps:    false,      // Used in:
    beta-bps:     false,      // Used in:
    alpha-bps:    false,      // Used in:
    kilo-bps:     false,      // Used in:
    mega-bps:     false,      // Used in:
    giga-bps:     false,      // Used in:
  ),
  ellipsis-width: 2em,
  ellipsis: (
    s: (
      // a list of lines to enable: (2, 3),
      nano:     false,    // Used in:
      micro:    false,    // Used in:
      milli:    false,    // Used in:
      base:     false,    // Used in:
      zeta:     false,    // Used in:
      epsilon:  false,    // Used in:
      delta:    false,    // Used in:
      gamma:    false,    // Used in:
      beta:     false,    // Used in:
      alpha:    false,    // Used in:
      kilo:     false,    // Used in:
      mega:     false,    // Used in:
      giga:     false,    // Used in:
    ),
    m: (
      // a list of lines to enable: (2, 3),
      nano:     false,    // Used in:
      micro:    false,    // Used in:
      milli:    false,    // Used in:
      base:     false,    // Used in:
      zeta:     false,    // Used in:
      epsilon:  false,    // Used in:
      delta:    false,    // Used in:
      gamma:    false,    // Used in:
      beta:     false,    // Used in:
      alpha:    false,    // Used in:
      kilo:     false,    // Used in:
      mega:     false,    // Used in:
      giga:     false,    // Used in:
    ),
    l: (
      // a list of lines to enable: (2, 3),
      nano:     false,    // Used in:
      micro:    false,    // Used in:
      milli:    false,    // Used in:
      base:     false,    // Used in:
      zeta:     false,    // Used in:
      epsilon:  false,    // Used in:
      delta:    false,    // Used in:
      gamma:    false,    // Used in:
      beta:     false,    // Used in:
      alpha:    false,    // Used in:
      kilo:     false,    // Used in:
      mega:     false,    // Used in:
      giga:     false,    // Used in:
    ),
    xl: (
      // a list of lines to enable: (2, 3),
      nano:     false,    // Used in:
      micro:    false,    // Used in:
      milli:    false,    // Used in:
      base:     false,    // Used in:
      zeta:     false,    // Used in:
      epsilon:  false,    // Used in:
      delta:    false,    // Used in:
      gamma:    false,    // Used in:
      beta:     false,    // Used in:
      alpha:    false,    // Used in:
      kilo:     false,    // Used in:
      mega:     false,    // Used in:
      giga:     false,    // Used in:
    ),
  ),
);
